:root > * {
  --md-primary-fg-color:        #000000;
  --md-accent-fg-color:         #FF2D79;
  --md-accent-bg-color:         #00FF00;
  --md-footer-fg-color:  		    #FFA439;
  --md-typeset-a-color:         #FFA439;
  --md-header__ellipsis-color:  #000000;
}
